/*
*   HEADER
*     -Logo
*     -Main Navigation*
*/
.header {
    width: 100%;
    height: 45px;
    background-image: url(../img/header_bg.png);
    background-repeat: repeat-x;	
}
.header ul.main {
    list-style: none;
    margin-left: 20px;
    height: 45px;
    float: left;
}
.header ul.main li {
    display: inline;
    list-style-type: inherit;
}
.header ul.main li a {
    background-image: url(../img/header_main_nav_left.png);
    background-repeat: no-repeat;
    background-position: 0 -45px;
    padding-left: 6px;
    margin-left: 5px;
    position: relative;
    float: left;
}
.header ul.main li a span {
    padding-right: 11px;
    padding-left: 4px;
    padding-bottom: 18px;
    padding-top: 14px;
    background-image: url(../img/header_main_nav_right.png);
    background-position: 100% -45px;
    background-repeat: no-repeat;
    display: block;
    float: none;
}
.header ul.main li a.active {
    background-position: 0 -90px;
}
.header ul.main li a.active span {
    background-position: 100% -90px;
}
.header ul.main li a:hover {
    background-position: 0 0;   
}
.header ul.main li a:hover span {
    background-position: 100% 0;    
}
.header ul.main li a.active:hover {
    background-position: 0 -90px;
}
.header ul.main li a.active:hover span {
    background-position: 100% -90px;
}
.logo {
    width: 70px;
    height: 45px;
    background-image: url(../img/blog_logo.png);
    background-position: left;
    margin-left: 10px;
    float: left;
}
.logo:hover {
    background-position: right;
}

/*
*   Body
*/
.body {
    margin: 5px 10px;
    width: 96apx;
}
.body .post {
    padding-top: 5px;
    padding-bottom:10px;
}

/*
 *  Form
 */
.std_form label, input {
    display: block;
}

/*
*   Exceptions
*/
.notFoundImg {
    text-align: center;
}
