.logo {
    margin: 4px 15px 0px 0px;
    padding: 6px 0px 0px 50px;
    height: 20px;
    width: 60px;
    background-image: url('/static/img/blog_logo.png'); // SlickNasty override
    background-repeat: no-repeat;
    color: $logoTextColor;
    font-size: 15px;
    text-transform: uppercase;
}

.header {
    a {
        text-decoration: none;
    }
}