.operations {
    position: relative;
    display: inline-block;

    a {
        top: -4px;
        position: relative;
    }
}

.post {
    > h1 {
        display: inline-block;
        margin-right: 10px;
        color: $FColor;
    }

    .content {
        h2 {
            font-size: 18px;
            font-weight: 400;
            color: #407CC2;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            color: #407CC2;
        }
    }
}

.aside {
    width: 240px;

    .recent {
        a {
            display: block;
            margin: 5px 0px;
        }
    }
}