.operations {
    position: relative;
    display: inline-block;

    a {
        top: -4px;
        position: relative;
    }
}

.post {
    > h1 {
        display: inline-block; // SlickNasty override
        margin-right: 10px;
        color: $FColor; // SlickNasty override
    }

    .content {
        h2 {
            font-size: 18px; // SlickNasty override
            font-weight: 400; // SlickNasty override
            color: #407CC2; // SlickNasty override
        }

        h3 {
            font-size: 16px; // SlickNasty override
            font-weight: 400; // SlickNasty override
            color: #407CC2; // SlickNasty override
        }
    }
}

.aside {
    width: 240px;  // SlickNasty override

    .recent {
        a {
            display: block;
            margin: 5px 0px;
        }
    }
}